body {
  text-align: center;
  background: #f5f5f5; /* Set a light background color */
}

.header-banner {
  background-color: #ff4757;
  color: white;
}

.footer-container {
  background-color: #ff4757;
  color: white;
  text-align: center;
}

.background-image {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh; /* Use viewport height for responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Adjust height for different screen sizes */
@media (min-width: 768px) {
  .background-image {
      height: 60vh;
  }
}

@media (min-width: 1024px) {
  .background-image {
      height: 70vh;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  text-align: center;
  color: white;
}

.modal-image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}

/* Animation CSS */
body{
  text-align: center;
  background: black;
}
#bnw{
  position: absolute;
  top:40vh;
  
  left:50px;
}
#colored{
  position: absolute;
  top:40vh;
  left:50px;
  clip-path:polygon(0 0,0.01% 0,0.01% 100%,0 100%);
}
.img-container{
  position: relative;
  width:300px;
  margin:0px auto;
}

