.header-banner {
  background-color: #ff4757;
  color: white;
}

.footer-container {
  background-color: #ff4757;
  color: white;
  text-align: center;
}

.background-image img {
  width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.modal-content {
  position: relative;
  text-align: center;
  color: white;
}

.modal-image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}

